.App {
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.navbar{
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  z-index: 2;
  margin: 0 5%;
  padding-top: 50px;
}

.navbar-title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav-links{
  display: flex;
}

.nav-links ul{
  display: flex;
  /* background: orangered; */
  list-style: none;
  font-size: 25px;
  font-weight: 500;
  gap: 10px;
}

/* .nav-links ul li {
  background-color: orangered;
  
} */

.nav-links ul li a{
  background-color: green;
  color: #fff;
  text-decoration: none;

}





